extends layout

block content
	h1 Translator
	.container
		.search
			form(action="/search", method="get")
				input(type="text" name="search" placeholder="Translate")#searchbox
				select(name="from")
					for l in lang
						option(name="from") #{l}
				select(name="to")
					for l in lang
						option(name="to") #{l}
				input(type="submit" name="search-button" placeholder="Text to Translate")#searchbutton
		.main
			form
				input#output-word(type="text" placeholder="Translation Results")
		.quiz
			a(href="/quiz") Go To Quiz
